header {
  @apply flex flex-wrap items-center justify-between p-6;

  a.logo {
    @apply flex items-center flex-shrink-0 mr-6;
    @apply text-white font-semibold text-xl tracking-tight;

  }

  a:hover.logo {
    font-style: oblique -5deg;
  }

  .hamburger {
    label { @apply text-4xl text-white leading-4 align-middle cursor-pointer; }
    svg { @apply fill-current h-3 w-3 }
  }

  nav {
    @apply w-full hidden mt-1;

    .items {
      @apply w-full block w-auto flex flex-col text-center;

      a { @apply block py-4 inline-block text-teal-200; }
    }
  }


  #hamburger-menu-toggle { @apply hidden; }
  #hamburger-menu-toggle:checked ~ nav { @apply block; }
}

// 'sm': '640px', => @media (min-width: 640px)
// 'md': '768px', => @media (min-width: 768px)
// 'lg': '1024px', => @media (min-width: 1024px)
// 'xl': '1280px', => @media (min-width: 1280px)

@screen md {
  header {
    @apply justify-start mx-auto px-0;
    width: 48rem;

    .hamburger { @apply hidden; }

    nav {
      @apply block w-auto;

      .items {
        @apply flex flex-row justify-between items-center;

        a {
          @apply py-2 px-2 flex-grow;
          &:hover { @apply bg-gray-500; }
        }
      }
    }
  }
}
