.flashes {
  .flash {
    &.failure {
      color: $bright_pink;
      background-color: $bg_bright_pink;

      .close {
        color: $bright_pink;
      }
    }

    &.success {
      color: $electric_green;
      background-color: $bg_electric_green;

      .close { color: $electric_green }
    }

    &.info {
      color: $electric_blue;
      background-color: $bg_electric_blue;

      .close { color: $electric_blue }
    }
  }
}
