.result-table {
  .row {
    background-color: rgb(33, 37, 41);
  }

  .result-type {
    padding-top: 2em;
    background-color: transparent;
  }

  .result-header {
    padding-top: 1.5em;
    border-bottom: 1px solid #868686
  }
}
