table {
  @apply w-full table-auto;

  th {
    @apply text-center font-bold;
  }

  td {
  }

  &.table-zebra {
    tr:nth-child(even) {
      background-color: #444;
    }
    tr:nth-child(odd) {
      background-color: #666;
    }
  }

  &.table-borders {
    @apply border-collapse;

    td {
      @apply border border-gray-700;
    }
  }
}
