$background-color: #141414;
$font-color: #868686;
$nav-item-color: #CF593C;

$foreground_grey: #868686;
$background_grey: #141414;

$light_brown: #C7C76D;
$warm_yellow: #FACE43;
$dark_red: #CF593C;

$electric_green: #13ff02;
$bg_electric_green: #088000;

$bright_pink: #ED03FF;
$bg_bright_pink: #790082;

$electric_blue: #02ffee;
$bg_electric_blue: #008077;
