$background-color: #141414;
$font-color: #868686;
$nav-item-color: #CF593C;

$foreground_grey: #868686;
$background_grey: #141414;
$bright_pink: #ED03FF;
$electric_blue: #02ffee;
$light_brown: #C7C76D;
$warm_yellow: #FACE43;
$dark_red: #CF593C;
$green: #13ff02;
