$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #141414;
$font-color: #868686;
$nav-item-color: #CF593C;

$foreground_grey: #868686;
$background_grey: #141414;
$bright_pink: #ED03FF;
$electric_blue: #02ffee;
$light_brown: #C7C76D;
$warm_yellow: #FACE43;
$dark_red: #CF593C;
$green: #13ff02;


/*
 * Globals
 */
body {
  font-family: $font-stack;
  color: $font-color;
  background: $background-color;

  @apply mt-5 bg-gray-500
}

a {
  color: $electric_blue;
  &:hover { color: inherit; }
}

hr {
  border: 1px solid $font-color;
}

.pink   { color: $bright_pink }
.green  { color: $green }
.red    { color: $dark_red }
.yellow { color: $warm_yellow }

.alert {
  p {
    margin-bottom: 0;
  }

  &.alert-info a {
    color: #0291ff;
  }
}

.background-pink   { color: #000; background-color: $bright_pink }
.background-green  { color: #000; background-color: $green }
.background-red    { color: #000; background-color: $dark_red }
.background-yellow { color: #000; background-color: $warm_yellow }

.navbar {
  margin-bottom: 1em;
}

.navbar-brand {
  color: #868686;
}

.result-table {
  .row {
    background-color: rgb(33, 37, 41);
  }

  .result-type {
    padding-top: 2em;
    background-color: transparent;
  }

  .result-header {
    padding-top: 1.5em;
    border-bottom: 1px solid #868686
  }
}

#vspacer {
  min-height: 900px;
}

