$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #141414;
$font-color: #868686;
$nav-item-color: #CF593C;

$foreground_grey: #868686;
$background_grey: #141414;
$bright_pink: #ED03FF;
$electric_blue: #02ffee;
$light_brown: #C7C76D;
$warm_yellow: #FACE43;
$dark_red: #CF593C;
$green: #13ff02;


/*
 * Globals
 */
body {
  font-family: $font-stack;
  color: $font-color;
  background: $background-color;
}

a {
  color: $electric_blue;
  &:hover { color: inherit; }
}

.pink { color: $bright_pink }
.green { color: $green }
.red { color: $dark_red }
.yellow { color: $warm_yellow }

.navbar-brand {
  color: #868686;
}

